<div class="row">
  <section class="col-xs-6 col-xs-offset-3">
    <h2>Who are you playing against?</h2>
  </section>
</div>

<% @heroes = HeroCountersModel.all %>
<form class="row form-horizontal" action="/heroes" method="post">
<!-- __________________1___________________ -->
  <div id="first-row" class="col-xs-10 margin-left-15">
    <select class="form-control" name="hero_1">
      <option selected='selected'>--Please Select Hero--</option>
      <% @heroes.each do |hero| %>
        <option>
        <img src="<%=hero.imageurl%>" alt="" />
        <%= hero.name %>
        </option>
      <% end %>
    </select>
  </div>

  <div class="col-xs-2 margin-right-15">
    <input class="add-button col-xs-12" type="button" name="Add Hero"  value="+"></input>
  </div>
<!-- _________________2____________________ -->
  <div id="second-row" class="col-xs-10 hidden">
    <select class="form-control" name="hero_2">
      <option selected='selected'>--Please Select Hero--</option>
      <% @heroes.each do |hero| %>
        <option>
        <img src="<%=hero.imageurl%>" alt="" />
        <%= hero.name %>
        </option>
      <% end %>
    </select>
  </div>

  <div class="col-xs-2 hidden">
    <input class="add-button col-xs-12" type="button" name="Add Hero"  value="+"></input>
  </div>
<!-- _________________3____________________ -->
  <div id="third-row" class="col-xs-10 hidden">
    <select class="form-control" name="hero_3">
      <option selected='selected'>--Please Select Hero--</option>
      <% @heroes.each do |hero| %>
        <option>
        <img src="<%=hero.imageurl%>" alt="" />
        <%= hero.name %>
        </option>
      <% end %>
    </select>
  </div>

  <div class="col-xs-2 hidden">
    <input class="add-button col-xs-12" type="button" name="Add Hero"  value="+"></input>
  </div>
<!-- _________________4____________________ -->
  <div id="fourth-row" class="col-xs-10 hidden">
    <select class="form-control" name="hero_4">
      <option selected='selected'>--Please Select Hero--</option>
      <% @heroes.each do |hero| %>
        <option>
        <img src="<%=hero.imageurl%>" alt="" />
        <%= hero.name %>
        </option>
      <% end %>
    </select>
  </div>

  <div class="col-xs-2 hidden">
    <input class="add-button col-xs-12" type="button" name="Add Hero"  value="+"></input>
  </div>
<!-- ________________5_____________________ -->
  <div id="fifth-row" class="col-xs-10 hidden">
    <select class="form-control" name="hero_5">
      <option selected='selected'>--Please Select Hero--</option>
      <% @heroes.each do |hero| %>
        <option>
        <img src="<%=hero.imageurl%>" alt="" />
        <%= hero.name %>
        </option>
      <% end %>
    </select>
  </div>


  <div class="col-xs-6 col-xs-offset-3">
    <input class="col-xs-12" type="submit" value="Calculate">
    <br><br><br>
  </div>

</form>
